body {
  font-family: "Raleway", sans-serif;
  max-width: 1440px;
  margin: auto;
}

.container {
  padding: 0 40px;
}

.container h1 {
  font-size: 25px;
  font-weight: 800;
}

.container h2 {
  font-size: 21px;
  font-weight: 800;
}

.container h3 {
  font-size: 17px;
  font-weight: 800;
}

.container p {
  font-size: 17px;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0px 0px;
  }

  .container h2 {
    font-size: 21px;
  }

  .container h3 {
    font-size: 20px;
  }
}
