/*POPULAR-CARD*/

.card-popular {
  display: flex;
  height: 150px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 2px 3px 3px darkgrey;
  margin-top: 10px;
  padding: 5px 0 5px 5px;
}

.card-popular-image {
  width: 55%;
  overflow: hidden;
  border-radius: 18px 0 0 18px;
}

.card-popular img {
  height: 100%;
  width: 120%;
  object-fit: cover;
}

.card-popular-body {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  padding-left: 13px;
  height: 140px;
}

.card-popular-body p,
.card-popular-body h3 {
  margin: 5px 0;
}

.card-popular-body .card-stars {
  margin-top: auto;
}

.card-popular-link {
  color: black;
  text-decoration: none;
}

.card-popular:hover {
  color: var(--blue);
  transition: all ease-out;
  transform: scale(1.05);
}
