/* FILTERS */

.filter {
  border: 2px solid var(--gray);
  border-radius: 40px;
  transition: all 1s ease-out;
}

.filter-list {
  padding-top: 15px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.filter-list .fas {
  border: 1px solid var(--lightblue);
  border-radius: 50%;
  color: var(--blue);
  background-color: var(--lightblue);
  padding: 14px;
  margin: -3px;
}

.fas.fa-child {
  padding: 14px 16px;
}

.filter span {
  font-weight: 800;
  padding: 17px;
}

.filter:hover {
  background-color: var(--gray);
  transform: scale(1.15);
  color: var(--blue);
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  .filter-list h1 {
    width: 100%;
  }
  .filter-list {
    gap: 14px;
  }
}
