/*NAVBAR*/

.search {
  padding: 0 15px;
  margin: 15px 0;
}

#logo {
  height: 50px;
  width: auto;
  margin-right: auto;
  padding-left: 15px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.sub-nav {
  display: flex;
}

nav a {
  color: black;
  font-weight: 600;
  padding: 30px;
  text-decoration: none;
  border-top: 3px solid transparent;
}

nav a:hover {
  color: var(--blue);
  border-top-color: var(--blue);
  padding-top: 30px;
}

.header-nav-link[data-active=true] {
  color: #0065FC;
}
.header-nav-link:hover {
  color: #0065FC;
}

.header-nav-link[data-active=true] {
  border-top: 3px solid #0065FC;
}
.header-nav-link:hover {
  border-top: 3px solid #0065FC;
}

@media screen and (max-width: 768px) {
  body {
    padding: 0;
  }

  .container {
    width: fit-content;
  }
  #logo {
    justify-content: center;
    margin: auto;
    padding-left: 0px;
  }

  .nav {
    padding: 0;
  }

  .sub-nav {
    flex-basis: 100%;
  }

  .sub-nav a {
    flex-basis: 50%;
    text-align: center;
    border-bottom: 3px solid lightgrey;
  }

  .sub-nav a:hover {
    border-bottom-color: #0065fc;
    border-top-color: transparent;
  }
}
