@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url("./css/body.css");
@import url("./css/navbar.css");
@import url("./css/search-form.css");
@import url("./css/filters.css");
@import url("./css/results-message.css");
@import url("./css/apartments-list.css");
@import url("./css/card-apartments.css");
@import url("./css/card-popular.css");
@import url("./css/activities.css");
@import url("./css/footer.css");

/*propriété box-sixing */
* {
  box-sizing: border-box; /* Opera/IE 8+ */
  -moz-box-sizing: border-box; /* Firefox, autres Gecko */
}

:root {
  --blue: #0065fc;
  --lightblue: #deebff;
  --gray: #f2f2f2;
}
